*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif; /* Police pour l'ensemble du corps */
    background-color: bisque; /* Couleur de fond */
    display: flex; /* Utilisation de flexbox pour centrer le contenu */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Hauteur de la fenêtre */
    margin: 0; /* Supprimer les marges par défaut */
}

.container {
    background: burlywood; /* Couleur de fond*/
    padding: 20px; /* Espacement intérieur */
    border-radius: 8px; /* bordure arrondis */
    box-shadow: 0 0 10px brown; /* Ombre portée */
    text-align: center; /* Alignement du texte au centre */
    width: 300px; /* Largeur fixe */
}

h1 {
    margin-bottom: 20px; /* Marge inférieure pour l'espacement */
}

input {
    padding: 10px; 
    width: calc(100% - 22px); /* Largeur ajustée pour l'espacement */
    margin-bottom: 10px; /* Marge inférieure */
    border: 1px solid brown; 
    border-radius: 4px; 
}

button {
    padding: 10px; 
    width: 100%; /* Largeur du bouton */
    border: none; /* Suppression de la bordure */
    background-color: peru; /* Couleur de fond */
    color: bisque; /* Couleur du texte */
    font-size: 16px; /* Taille de la police */
    border-radius: 4px; 
    cursor: pointer; /* Curseur en forme de main */
}

button:hover {
    background-color: lightcoral; /* Couleur de fond au survol */
}

ul {
    list-style-type: none; /* Supprimer les puces de la liste */
    padding: 0; /* Supprimer le padding */
}

li {
    background: blanchedalmond; /* Couleur de fond des éléments de liste */
    margin: 5px 0; /* Marge entre les éléments */
    padding: 10px; /* Espacement intérieur */
    border-radius: 4px; 
    cursor: pointer; 
}

li:hover {
    background: #fab2b2; /* Couleur de fond au survol */
    /* text-decoration: line-through; Texte barré au survol */
}

